* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Hina Mincho";
}

html {
  font-size: 10px;
}

/* dark_mode */
.dark_mode header a {
  color: #000;
}
.dark_mode header .btn {
  background-color: #000;
  color: #ffffff;
}
.dark_mode header .btn * {
  color: #ffffff;
}

header {
  position: absolute;
  width: 100vw;
  height: max-content;
  display: flex;
  justify-content: space-between;
  z-index: 999999;
}
header .container {
  padding: 0px;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  margin: 0px 60px;
  padding-bottom: 40px;
}
/* header_logo */
.header_logo {
  width: 80px;
  height: 185px;
}
.header_logo_container {
  margin-top: 40px;
}
/* header_nav */
.header_nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header_nav .btn {
  width: 212px;
  height: 40px;
  background-color: #ffffff;
  border: #ffffff;
  font-weight: 400;
  letter-spacing: 0.2rem;
}
.header_nav .btn a{
  margin-left: 10px;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.header_nav .btn::before{
  content: "";
  display: inline-block;
  width: 5px;
  height: 8px;
  background-image: url("/assets/img/common/arrow_on_btn.png");
  background-size: contain;
  vertical-align: middle;
}
.header_nav .btn::after {
  content: "RESERVE";
  font-size: 1rem;
  line-height: 2.6rem;
  margin-left: 10px;
}
.header_nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  margin-top: 20px;
}
.header_nav_list_item {
  margin-left: 50px;
  list-style: none;
}
.header_nav_list_item:nth-child(7) {
  margin-left: 20px;
}
.header_nav_list_item a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  font-size: 1.6rem;
  letter-spacing: 0.2em;
  line-height: 2.4rem;
  font-weight: 400;
}
.header_nav_list_item a::before {
  font-family: "Inknut Antiqua";
  font-size: 1rem;
  position: absolute;
  transform: translateY(100%);
  display: inline;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  line-height: 2.6rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
}
.header_nav_list_item_furigana {
  position: relative;
  display: block;
}
.header_nav_list_item_furigana::before {
  position: absolute;
  content: "おけら";
  font-size: 1rem;
  bottom: 100%;
  line-height: 1.5rem;
  letter-spacing: 0.2em;
  font-weight: 400;
}
.header_nav_list_item:first-child a::before {
  content: "ABOUT";
}
.header_nav_list_item:nth-child(2) a::before {
  content: "FOOD";
}
.header_nav_list_item:nth-child(3) a::before {
  content: "PLAY";
}
.header_nav_list_item:nth-child(4) a::before {
  content: "NEWS";
}
.header_nav_list_item:nth-child(5) a::before {
  content: "ACCESS";
}
.header_nav_list_item img {
  width: 24px;
  height: 24px;
  transform: translateY(50%);
}

main {
  width: 100vw;
  overflow: hidden;
}

/* container */
.container {
  width: calc(100vw - 400px);
  height: 100%;
  margin: 0px auto;
  padding: 100px 0px;
}

/* btn */
.btn {
  border: solid 1px #000000;
  font-family: "Inknut Antiqua";
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn a {
  text-decoration: none;
  color: #000000;
  margin-left: 10px;
}
.btn:hover {
  cursor: pointer;
}

/* breadcrumb */
.breadcrumb .container {
  padding-top: 20px;
  padding-bottom: 0px;
}
.breadcrumb_list {
  display: flex;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  line-height: 2.8rem;
}
.breadcrumb_list_item:first-child {
  margin-left: 0px;
}
.breadcrumb_list_item:first-child::before {
  content: "";
  margin: 0px;
}
.breadcrumb_list_item::before {
  content: ">";
  margin: 0px 10px;
}

/* aside */
aside {
  color: #ffffff;
  background-image: url("/assets/img/common/bg_aside.jpg");
  width: 100vw;
  height: 400px;
  background-size: cover;
}
.aside_title {
  font-size: 4rem;
  letter-spacing: 0.2em;
  line-height: 4.8rem;
  text-align: center;
}
.aside_btn_container {
  margin-top: 100px;
  display: flex;
  gap: 40px;
  justify-content: center;
}
.aside_btn {
  list-style: none;
  width: 400px;
  height: 80px;
}
.aside_btn .btn {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  letter-spacing: 0.2em;
  line-height: 2.4rem;
  border: #ffffff;
}
.aside_btn .btn::before{
  content: url("/assets/img/common/arrow_on_btn.png");
  /* 10px = 13px * 0.769   8px = 19px * 0.842*/
  transform: scaleX(0.769) scaleY(0.842);
  position: relative;
  top: 2px;
}
.aside_btn a{
  margin-left: 10px;
}
.aside_btn a::after {
  margin-left: 10px;
  font-size: 1.4rem;
  font-family: "Inknut Antiqua";
  letter-spacing: 0.2em;
  line-height: 1.7rem;
}
.aside_btn:first-child a::after {
  content: "RESERVE";
}
.aside_btn:last-child a::after {
  content: "ACCESS";
}

/* footer */
footer .container {
  padding: 40px 0px;
}
.footer_nav_container {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  letter-spacing: 0.2em;
  line-height: 1.7rem;
}
.footer_nav_list {
  list-style: none;
  margin-left: 30px;
  display: flex;
}
.footer_nav_list_item {
  border-right: solid 1px #000000;
  padding: 0px 10px;
}
.footer_nav_list_item a {
  color: #000000;
  text-decoration: none;
}
.footer_logo {
  width: 147px;
  height: 60px;
}
.footer_copyright {
  margin-top: 10px;
  font-family: "Inknut Antiqua";
  font-size: 1rem;
  letter-spacing: 0.2rem;
  line-height: 1.2rem;
}
