/* section_hero */
.section_hero {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_hero_title_container {
  position: absolute;
  z-index: 999999;
  display: flex;
  align-items: center;
  user-select: none;
}
.section_hero_title_logo {
  font-size: 8rem;
  letter-spacing: 0.1em;
  line-height: 11.6rem;
  font-weight: 400;
  position: relative;
  top: 5px;
}
.section_hero_title {
  font-size: 5rem;
  color: #ffffff;
  line-height: 7.2rem;
  letter-spacing: 0.2em;
  font-weight: 400;
  user-select: none;
}
.section_hero_title_logo::before {
  position: absolute;
  content: url("/assets/img/top/section_hero_title_logo.png");
  top: -65px;
  left: -25px;
}
/* swiper css */
.section_hero * {
  --swiper-theme-color: #ffffff;
}
.section_hero .swiper-pagination .swiper-pagination-bullet {
  border: solid 1px #ffffff;
  opacity: 1;
  margin: 15px 0px;
}
.section_hero .swiper {
  width: 100vw;
  height: 800px;
  overflow: hidden;
}
.section_hero .swiper-slide {
  background-color: #020202;
  color: #ffffff;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.section_hero .swiper-slide img {
  width: 100%;
  height: max-content;
  object-fit: cover;
}

/* section_about */
.section_about {
  width: 100%;
  height: max-content;
}
.section_about .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 100px;
  width: 100vw;
}
.section_about_container {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}
.section_about_container .btn{
  margin-top: 40px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 2.6rem;
}
.section_about_container .btn::before{
  content: "";
  display: inline-block;
  width: 5px;
  height: 8px;
  background-image: url("/assets/img/common/arrow_on_btn.png");
  background-size: contain;
  vertical-align: middle;
  position: relative;
  top: 1px;
}
.section_about_title {
  font-size: 4rem;
  line-height: 5.8rem;
  letter-spacing: 0.2em;
  font-weight: 400;
}
.section_about_title_logo {
  position: relative;
}
.section_about_title_logo::before {
  position: absolute;
  content: url("/assets/img/top/section_about_title_logo.png");
  display: inline-block;
  transform: scale(0.5);
  left: -75px;
  top: -65px;
}
.section_about_description {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 2.8rem;
  margin-top: 60px;
}
.section_about_description p + p {
  margin-top: 28px;
}

/* section_food */
.section_food {
  background-color: #ecdfd0;
  width: 100%;
  height: max-content;
}
.section_food .container {
  width: 100vw;
}
.section_food_img_container {
  display: flex;
  align-items: flex-start;
  margin-right: 200px;
}
.section_food_small_img_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 400px;
}
.section_food_container {
  margin-top: 70px;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
}
.section_food_title {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 5.8rem;
}
.section_food_title_logo {
  position: relative;
}
.section_food_title_logo::before {
  position: absolute;
  content: url("/assets/img/top/section_food_title_logo.png");
  display: inline-block;
  transform: scale(0.5);
  left: -70px;
  top: -60px;
}
.section_food_description {
  margin-top: 60px;
  display: flex;
  column-gap: 100px;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 2.8rem;
}
.section_food_container .btn {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 2.6rem;
}
.section_food_container .btn::before{
  content: "";
  display: inline-block;
  width: 5px;
  height: 8px;
  background-image: url("/assets/img/common/arrow_on_btn.png");
  background-size: contain;
  vertical-align: middle;
  position: relative;
  top: 1px;
}
.section_food_description_paragraph {
  width: 50%;
}
.section_food_description_paragraph p + p {
  margin-top: 30px;
}

/* section_play */
.section_play {
  width: 100%;
  height: max-content;
}
.section_play .container {
  width: 100vw;
}
.section_play_container {
  margin-top: 40px;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
}
.section_play_container .btn {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 2.6rem;
}
.section_play_container .btn::before{
  content: "";
  display: inline-block;
  width: 5px;
  height: 8px;
  background-image: url("/assets/img/common/arrow_on_btn.png");
  background-size: contain;
  vertical-align: middle;
  position: relative;
  top: 1px;
}
.section_play_title {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 5.8rem;
}
.section_play_title_logo {
  position: relative;
}
.section_play_title_logo::before {
  position: absolute;
  content: url("/assets/img/top/section_play_title_logo.png");
  display: inline-block;
  transform: scale(0.5);
  left: -75px;
  top: -67px;
}
.section_play_description {
  margin-top: 70px;
  display: flex;
  column-gap: 100px;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 2.8rem;
}
.section_play_description_paragraph {
  width: 50%;
}
.section_play_description_paragraph p + p {
  margin-top: 30px;
}

/* swiper css */
.section_play .swiper {
  overflow: visible;
}
.section_play .swiper-slide {
  width: 490px;
  list-style-type: none;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  line-height: 2.8rem;
}
.section_play .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_play .swiper-slide p {
  position: relative;
  left: 20px;
  right: auto;
  bottom: 50px;
  top: auto;
  color: #ffffff;
}
.section_play .swiper-button-next {
  top: 102%;
  left: 53%;
}
.section_play .swiper-button-next:after {
  content: url("/assets/img/common/next_icon.png");
  /* 12px = 27px * 0.444   20px = 43px * 0.465*/
  transform: scaleX(0.444) scaleY(0.465);
}
.section_play .swiper-button-prev {
  top: 102%;
  left: 46%;
}
.section_play .swiper-button-prev:after {
  content: url("/assets/img/common/prev_icon.png");
  /* 12px = 27px * 0.444   20px = 43px * 0.465*/
  transform: scaleX(0.444) scaleY(0.465);
}

/* section_news */
.section_news {
  background-color: #f5efe7;
}
.section_news_title {
  font-size: 4rem;
  letter-spacing: 0.2em;
  line-height: 4.8rem;
  width: 20%;
}
.section_news_container {
  display: flex;
  column-gap: 100px;
}
.section_news_container a {
  text-decoration: none;
  color: #000000;
}
.section_news_title_logo {
  position: relative;
}
.section_news_title_logo::before {
  position: absolute;
  content: url("/assets/img/top/section_news_title_logo.png");
  display: inline-block;
  transform: scale(0.5) translateX(-90%) translateY(-30%);
}
.section_news_articles_container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.section_news_article {
  padding-bottom: 30px;
  font-size: 1.4rem;
  border-bottom: solid 1px;
}
.section_news_article dt {
  font-family: "Inknut Antiqua";
  margin-top: 10px;
}
.section_news_article dd {
  margin-top: 20px;
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: 0.1em;
}
.section_news .btn {
  margin-top: 40px;
}
